

<div class="navbar">
    <div class="logo">
        <a href="/">
          <img src="assets\ata-logo1.png" width="150px" height="100px">
        </a>
      </div>
      <nav> 
     <ul id="items">
        <li>
            <a href="home/">HOME</a>
            </li>
            <li>
                <a href="home/">POPULAR TOURS</a>
                </li>
          
                <li>
                    <a href="home/">TOUR SEARCH</a>
                    </li>
                <li>
                <a href="signup/">TRAVEL BLOGS</a>
                </li>
            <li>
                <a href="signup/">SignUp</a>
                </li>
    <li><a href="">CONTACT</a></li>
            
    <li> <img src="assets\padlock.png"  width="20px" height="19px">
        <a href="login/">Login</a>
    </li>
    <li><img src="assets\user-interface.png"  width="20px" height="19px">
    <a href="signup/">Sign-up</a>
    </li>

    </ul>
    </nav>
    
    </div>
