<app-home></app-home>
<div class="login">
   
    <form class="formc" [formGroup]="loginForm" (ngSubmit)="Login()">
        <div><br><header class="headerf">LOGIN <a class ="close" href="/">X</a></header><br>
        <input class="login-field" type="text" formControlName="mobile_no" required>
      
        <label>  &nbsp; Mobile No</label>

        </div>
        
        <div>
            <input type="password" formControlName="password" required>
            <label > &nbsp; Password</label>   
        </div>
        <div>
            <p> please select a role</p>
            <input type="radio" formControlName="role" value="user" required>
                <label>   &nbsp; User  &nbsp; </label>
                <input type="radio" formControlName="role" value="admin" required>
                <label>   &nbsp; Admin
                </label>
        </div>
        <input  class="btn btn-dark" type="submit"  value="Signin">
       
        <div class="pass">Forgot Password?</div>
        
        <div class="signup_link">
          Not a member? <a href="signup/">Signup</a>
        </div>
       
    </form>
    </div>

   