@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

.formc{
        background-color: white;
        text-align: center;
    border:5px lightblue solid;
    padding-bottom: 5%;

}
.formc div label{
    text-align: left;
    text-decoration: none;
    color:grey;
}

.login{
    position: fixed;
    width:50%;
    padding: 80px;
    margin-left:25%;
    margin-right:0%;
    font-size: large;
    top:0;
   
}
.headerf{
    margin-left:30%;
}

.fields:hover{

background-color: yellowgreen;
}

.btn:hover{
background-color: green;
}
.btn:active{
background-color:aquamarine;

}


.btn{
    background-color:grey;
    padding-left:160px;
    padding-right:160px;
    font-size: medium;
}


#mobile{
 padding-right: 11%;
}

#password{
    text-align:center;
}

.close{
    text-decoration: none;
    margin-left:40%;
    
}

.formc h4 {
    display:inline;
    margin-left:0%
}
.close{
 top:0;
margin-left:60%;
}

.close:hover{
    color:red;
    background-color: aliceblue;
    border: grey 1px solid;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .password-toggle-icon i:hover {
    color: #000;
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  

  