
<app-home></app-home>
<h1>Sign Up</h1>
<form [formGroup]="userForm" (ngSubmit)="CreateUser()" id="formc">

    <div>
        <label >Name:</label>
        <input type="text" name ="name" formControlName="name" placeholder="enter your name here">
    </div>
    <!-- <div>
        <label >select role:</label>
        <input type="radio" name ="role" formControlName="role" value="user" >
        <label >User:</label>
        <input type="radio" name ="role" formControlName="role" value="driver" >
        <label >Driver Partner</label>
    </div> -->
    <div>
        <label >Gender:</label>
        <!-- <select type="number" name="gender" formControlName="gender"  required  >
             <option value=0>Male</option>
            <option value=1>Female</option>
            <option value="others">others</option>

        </select> -->
        <input type="number" name="gender"   formControlName="gender" checked><br>
        
    </div>
    <div>
        <label >Email:</label>
        <input type="text" name ="email" formControlName="email" placeholder="enter your mail id here">
        
    </div>
    <div>
        <label >Mobile:</label>
        <input type="text" name ="mobile_no" formControlName="mobile_no" placeholder="enter your mobile no">
        
    </div>
    <div>
        <label >Date of Birth :</label>
        <input type="date" name ="dob" formControlName="dob" placeholder="enter your DOB">
        
    </div>
    <div>
        <label >Password:</label>
        <input type="text" name ="password" formControlName="password" placeholder="Create password">
       
    </div>
    <div>
        <label >Confirm Password:</label>
        <input type="text" name ="c_password" formControlName="c_password" placeholder="Confirm your password">
        
    </div>

    <div class="button">
        <input type="submit" value="Register">
          </div>

   

</form>
<div class="button">
    <a href="/login">Login</a>
 </div>